doctype html
html.h100()
  head
    meta(charset='utf-8')
    script(type='text/javascript', src="/js/vue2611.js")
    script(type='text/javascript', src="/js/buefy.js")
    script(type='text/javascript', src="/js/snapped.js")

    link(rel='stylesheet', href='/css/buefy.css')
    
    title snapped Scroll Test
    style.
        .h100 {
            height: 100vh;
        }

body.h100
    #app.h100
        .tile#a(style="height:100%;background:#FBF2CF")
        .tile#b(style="height:100%;background:#C6EBC5")
        .tile#c(style="height:100%;background:#A1C298")
        .tile#d(style="height:100%;background:#C6EBC5")
        .tile#e(style="height:100%;background:#FBF2CF")

script(type="text/javascript").
    let v = new Vue({
        el: '#app',
        components: {
        },
        data: {
        },
        methods: {
        },
        computed: {
        },
        created()
        {

        },
        mounted()
        {
            snapped.init()
        }
    })
